@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

html {
  max-width: 1440px;
  margin: auto; }

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #080a0b;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0; }

p {
  text-align: justify; }

.header {
  text-align: start; }

.game_logo {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.game_logo span {
  opacity: 0; }

[name="menu"] {
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  background-image: url("../img/menu.svg"); }

.main-navigation-list > a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.main-navigation-list {
  list-style: none; }

body [type="checkbox"] {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/menu.svg"); }

.main-navigtion {
  padding: 1rem;
  background-color: #222222;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-210%);
  transition: transform 0.3s; }

body [type="checkbox"]:checked ~ .main-navigtion {
  transform: translateX(0); }

body [type="checkbox"]:checked ~ .main-navigtion label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.25); }

.header {
  position: absolute;
  z-index: 1;
  width: 90%;
  top: 0;
  padding-top: 1rem; }

.header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.main-navigtion {
  order: 2; }

.navigation-option {
  order: 3; }

[type="checkbox"] {
  order: 4; }

.masthead {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vw * 571 / 320);
  background-image: url("../img/masthead-bg-resised.png");
  margin: 0;
  max-height: 960px; }

.masthead-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; }

.mast_heading,
.mast_head_paragraph {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 33px; }

.mast_heading {
  padding-bottom: 14px; }

.mast_head_paragraph {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 20px; }

.btn.buy {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding-inline-start: 6px;
  padding-inline-end: 6px; }

[name="lang"] {
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  padding: 0; }

option {
  color: #FFB548; }

[for="menu"] {
  opacity: 0; }

[for="lang_dropdown"] {
  visibility: hidden; }

@media (min-width: 720px) {
  .masthead {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: 100% center;
    background-image: url("../img/header-big-bg.png"); }
  .main-navigtion > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .main-navigtion {
    transform: none;
    width: 100%;
    height: auto;
    background: none;
    position: static;
    box-shadow: none;
    padding: 0; }
  .main-navigation-lists {
    max-width: 612px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2; } }

.submit {
  transform: translate(-7830%); }

.heading-logo {
  width: 50px;
  height: 50px; }

.navigation_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: calc(50px - 15px);
  padding-bottom: calc(50px - 15px); }

.navigation_list {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start; }

.navigation_list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff; }

.navigation_list.main {
  flex-basis: 33%; }

.navigation_list.about {
  flex-basis: 33%; }

.navigation_list.game {
  flex-basis: 33%; }

.navigation_list.system-requierments {
  flex-basis: 50%; }

.navigation_list.quotes {
  flex-basis: 50%; }

.list_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  justify-content: space-around; }

.navigation-icons > span {
  visibility: hidden; }

.list_icons > li {
  width: 3rem;
  height: 3rem; }

.list_icons > .navigation_list.youtube {
  background-image: url("../img/cursor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 20px 20px; }

.navigation-icons {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: contain;
  display: block;
  width: 21px;
  height: 18px; }

[href="/facebook"] {
  background-image: url("../img/facebook.svg"); }

[href="/facebook"]:hover {
  background-image: url("../img/facebook-blue.svg"); }

[href="/twitter-white"] {
  background-image: url("../img/twitter-white.svg"); }

[href="/twitter-white"]:hover {
  background-image: url("../img/twitter-blue.svg");
  fill: blue; }

[href="/youtube"] {
  background-image: url("../img/youtube.svg"); }

[href="/instagram"] {
  background-image: url("../img/twitch.svg"); }

[href="/instagram"]:hover {
  background-image: url("../img/twitch-hover.svg"); }

@media (minwidth: media-min-width) {
  .navigation_list.main,
  .navigation_list.about,
  .navigation_list.game,
  .navigation_list.system-requierments,
  .navigation_list.quotes {
    flex-basis: auto; } }

.article_sos {
  text-align: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/sos-big-bg.png"); }

.sos_heading,
.sos_subheading {
  font-family: "Bebas Neue"; }

.sos_heading {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  padding-top: 47px; }

.sos_subheading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 8px;
  padding-bottom: 38px;
  border-bottom: solid 2px #ffffff; }

.sos_info {
  margin-top: 30px; }

.sos_info.decisions {
  margin-top: 20px;
  margin-bottom: 40px; }

@media (min-width: 720px) {
  .sos_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px; }
  .image_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .sos-infos {
    padding-left: calc(100% * 190 / 550); } }

img {
  width: 100%;
  height: 100%; }

.process-summury::-webkit-details-marker {
  display: none; }

.process-summury + p {
  padding-inline-start: 3rem; }

.process {
  position: relative;
  padding: 1rem;
  z-index: 1; }

.process-summury {
  padding-inline-start: 3rem; }

.process-summury::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  z-index: 1; }

.process:nth-child(1)::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 1.5rem;
  z-index: 1; }

.process:nth-last-of-type(1)::after {
  height: 33px; }

.process:nth-of-type(1)::after {
  top: 1rem; }

.process[open] .process-summury::before {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  top: 1rem;
  left: 1rem;
  z-index: 3; }

.image_container ul {
  text-align: start;
  position: relative;
  padding-top: calc(100% * 273/249);
  list-style: none; }

.image_container ul li {
  position: absolute; }

.image_container img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.sos_image1 {
  z-index: 3;
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249); }

.sos_image2 {
  z-index: 2;
  top: 58%;
  left: 0;
  right: calc(100% * 12 / 249);
  transform: translateY(-50%) scale(calc(234 / 273));
  transform-origin: 100% 0%; }

.sos_image3 {
  top: 59%;
  left: 0;
  z-index: 1;
  right: 0;
  transform: translateY(-50%) scale(calc(229 / 273));
  transform-origin: 100% 0%; }

.article_special .container {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 50%, black 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 75%, black 100%), url(../img/bg-special.png);
  background-repeat: no-repeat;
  background-position: 0 -16px;
  background-size: contain; }

.article_special {
  padding-top: 90px; }

.special_container {
  text-align: start;
  padding-bottom: 100px;
  padding-left: 100px; }

.special {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px; }

.features {
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 10px;
  padding-bottom: 30px; }

.process {
  font-family: "Bebas Neue";
  color: #FFB548;
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 21px; }

.process_info {
  padding-top: 20px;
  padding-bottom: 30px; }

@media (min-width: 720px) {
  .article_special .container {
    background-position: left center;
    background-image: url("../img/special-big-bg.png");
    background-size: cover;
    padding-top: calc(100% * 260 / 920); }
  .special_heading,
  .details-container {
    padding-inline-start: calc(100% * 800 / 1440);
    transform: translateY(-60px); }
  .special_container {
    padding-left: 0; }
  .article_special {
    padding-top: 0; } }

.article_availability {
  text-align: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: calc(100% * 354 / 720);
  padding-top: calc(100% * 70 / 720);
  background-position-y: bottom;
  background-image: url("../img/big-bg-avalability.png"); }

.availability__subheading {
  text-align: center;
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase;
  padding-bottom: 45px; }

.availability__subheadquestion,
.def_title {
  text-align: center;
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 15px; }

.def_lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.graphics.def_list {
  grid-row-start: 3;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3; }

.def_title {
  color: #FFB548; }

.def_list {
  border: 0.50423px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }

.def_details {
  margin: 0;
  padding: 0; }

@media (min-width: 720px) {
  .def_lists {
    max-width: calc(100% * 570 / 1440); }
  .article_availability {
    padding-bottom: 170px; } }

.article_quotes {
  text-align: start;
  padding-top: 36px;
  padding-bottom: 80px; }

blockquote span {
  visibility: hidden; }

blockquote {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20;
  margin-bottom: 20;
  margin-right: 0;
  margin-left: 0; }

.profile_info {
  padding-top: 13px;
  padding-bottom: 13px; }

.article_quotes-subheading {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase; }

.article_quotes-heading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase; }

.quotes_info {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-style: normal;
  font-style: 14px;
  line-height: 16px;
  padding-top: 30px;
  padding-bottom: 30px; }

.quotes_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

blockquote {
  margin: 1rem; }

.profile a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 5px 5px 0px #FFB548; }

.profile_info a {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 21px;
  color: #FFB548;
  text-decoration: none; }

.profile_info .name {
  display: block;
  visibility: visible; }

.icon-twitter {
  display: block;
  width: 18px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/twitter.svg); }

.read_more {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 22px; }

@media (min-width: 720px) {
  .article_quotes_container {
    display: grid;
    grid-template-columns: 50% 50%; }
  blockquote {
    max-width: 493px; }
  blockquote:not(:nth-child(2)) {
    margin-inline-start: 20%; }
  blockquote:nth-child(2) {
    margin-inline-end: 20%; }
  .article_quotes_text {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .bnt.read_more {
    max-width: 242px; } }

.newsletter {
  padding-bottom: 61px; }

.newsletter_info {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/newsletter-sm-bg.png");
  background-size: contain;
  background-position: left center;
  padding-right: 1rem;
  padding-left: 115px; }

.form-contanier .subscribe {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%; }

.form-contanier input[type="email"] {
  width: 100%;
  color: #FFB548;
  background-color: rgba(255, 255, 255, 0.05);
  border: none; }

[for="email"] {
  max-width: max-content;
  color: #ffffff;
  opacity: 0.5; }

.newsletter__heading,
.newsletter__subheading {
  text-align: start;
  font-family: "Bebas Neue"; }

.newsletter__heading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 26px; }

.newsletter__subheading {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
  font-size: 24px;
  line-height: 24px; }

.newsletter__info {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal; }

fieldset {
  text-align: start;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px; }

@media (min-width: 720px) {
  .newsletter_info {
    background: none; }
  .newsletter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-inline-start: calc(100% * 764 / 1440);
    background-image: url("../img/newsletter-big-bg.png");
    background-size: 50% 100%;
    height: 650px;
    background-position-y: center;
    background-position-x: left; }
  .newsletter-container {
    height: 100vh;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .newsletter__heading {
    padding-bottom: 65px; }
  [action="post"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px; }
  .newsletter_info {
    padding: 0; }
  [type="submit"] {
    max-width: 260px;
    margin-left: 17px; }
  fieldset {
    margin: 0; } }

.game-logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  background-image: url("../img/logo.svg");
  width: 50px;
  height: 50px;
  text-align: center; }

.game-logo > span {
  visibility: hidden; }

.policy-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.policy-list > a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 34px; }

.terms-of-services::before {
  content: "|";
  display: inline-block; }

.terms-of-services::after {
  content: "|";
  display: inline-block; }

.copy-right {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 23px; }

.policy {
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

@media (min-width: 720px) {
  .policy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .policy-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navigation_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    padding-block-end: 2rem; }
  .footer_navigation_lists {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navigation_lists {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 10%;
    padding-inline-end: 10%; }
  .navigation_list.system-requierments,
  .navigation_list.quotes,
  .navigation_list.main,
  .navigation_list.about,
  .navigation_list.game {
    flex-basis: auto; }
  .game-logo {
    width: 90px;
    height: 90px; }
  .navigation_list a {
    width: 100%; }
  .policy-lists {
    width: 443px; }
  .terms-of-services::after,
  .terms-of-services::before {
    display: none; }
  .game-logo {
    display: block; } }
