@import "variables";

.article_special .container {
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,.5) 0%,
    rgba(0, 0, 0, .7) 50%,
    rgba(0, 0, 0, 1) 100%),
    linear-gradient(
    to bottom,
    rgba(0, 0, 0, .3) 0%,
    rgba(0, 0, 0, .3) 50%,
    rgba(0,0,0,.5) 75%,
    rgba(0, 0, 0, 1) 100%),
  url(../img/bg-special.png);
  background-repeat: no-repeat;
  background-position: 0 -16px;
  background-size: contain;
}

.article_special {
  padding-top: 90px;
}

.special_container {
  text-align: start;
  padding-bottom: 100px;
  padding-left: 100px;
}

.special {
  @include font-family_babasNeue;
  @include subheading-spacing;
}

.features {
  @include font-family_babasNeue;
  @include heading-spacing;
  padding-top: 10px;
  padding-bottom: 30px;
}

.process {
  @include font-family_babasNeue;
  color: $secondary_color;
  @include prossess-text;
}

.process_info {
  padding-top: 20px;
  padding-bottom: 30px;
};

@media (min-width: $media-min-width) {
 .article_special .container {
    background-position: left center;
    background-image: image("special-big-bg.png");
    background-size: cover;
    padding-top: calc(100% * 260 / 920);
 }

 .special_heading,
 .details-container {
   padding-inline-start: calc(100% * 800 / 1440);
   transform: translateY(-60px);
 }

 .special_container {
    padding-left: 0;
 }

 .article_special {
   padding-top: 0;
  }
}