@import "variables";

.article_quotes {
  text-align: start;
  padding-top: 36px;
  padding-bottom: 80px;
}

blockquote span {
  visibility: hidden;
}

blockquote {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20;
  margin-bottom: 20;
  margin-right: 0;
  margin-left: 0;
}

.profile_info {
  padding-top: 13px;
  padding-bottom: 13px;
}

.article_quotes-subheading {
  @include subheading-spacing;
  text-transform: uppercase;
}

.article_quotes-heading {
  @include heading-spacing;
  text-transform: uppercase;
}

.quotes_info {
  @include font-family_openSans;
  text-align: justify;
  font-style: normal;
  font-style: 14px;
  line-height: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.quotes_container {
  width: 100%;
  @include navigation-flex;
  align-items: center;
  // justify-content: space-around;
}


blockquote {
  margin: 1rem;
}
.profile a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 5px 5px 0px $secondary-color;
}

.profile_info a {
  @include font-family_babasNeue;
  @include prossess-text;
  color: $secondary-color;
  text-decoration: none;
}

.profile_info .name {
  display: block;
  visibility: visible;
}

.icon-twitter {
  display: block;
  width: 18px;
  height: 14px;
  background-size: contain;
  @include background;
  background-image: url(../img/twitter.svg);
}

.read_more {
  @include button;
  padding-left: 10px;
  padding-right: 22px;
}

@media (min-width: $media-min-width) {
  .article_quotes_container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  blockquote {
    max-width: 493px;
  }

  blockquote:not(:nth-child(2)) {
    margin-inline-end: auto;
    margin-inline-start: 20%;
  }

  .article_quotes_text {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bnt.read_more {
    max-width: 242px;
  }
}