.article_sos {
  text-align: start;
  @include background;
  background-image: image("sos-big-bg.png");
}
.sos_heading,
.sos_subheading {
  @include font-family_babasNeue;
}

.sos_heading {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  padding-top: 47px;
}
.sos_subheading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 8px;
  padding-bottom: 38px;
  border-bottom: solid 2px $primary_color;
}
.sos_info {
 margin-top: 30px;
}

.sos_info.decisions {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: 720px) {
  .sos_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .image_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .sos-infos {
    padding-left: calc(100% * 190 / 550);
  }
}