@import "variables";

.article_availability {
  text-align: start;  
}

.availability__subheading {
  @include heading-spacing;
  text-transform: uppercase;
}

.availability__subheadquestion,
.def_title {
  @include subheading-spacing;
  text-transform: uppercase;
}

.def_lists {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.def_title {
  color: $secondary-color;
}

.def_list {
  border: 0.504234px solid #979797;
  padding: 10px;
}

.def_details {
  margin: 0;
  padding: 0;
}