@import "variables";
@import "fonts";
body {
    @include font-family_openSans;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #111111;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

p {
  text-align: justify;
}