$fonts: ( // you can insert all of your fonts here
// Key key name can be repeated but the value must change.
(family: "Open Sans", weight: 400, style: normal, filename: "Open Sans"),
 (family: "Open Sans", weight: 700, style: normal, filename: "Open Sans"),
 (family: "Open Sans", weight: 400, style: italic, filename: "Open Sans"),
 (family: "Open Sans", weight: 700, style: italic, filename: "Open Sans"),
 (family: "BebasNeue", weight: 400, style: normal, filename: "BebasNeue"),
 (family: "BebasNeue", weight: 700, style: normal, filename: "BebasNeue"),
 (family: "BebasNeue", weight: 400, style: italic, filename: "BebasNeue"),
 (family: "BebasNeue", weight: 700, style: italic, filename: "BebasNeue"));
// Looping through of an array objects
@each $font in ($fonts) {
    @font-face {
        font-family: map-get($font, family);
        font-weight: map-get($font, weight);
        font-style: map-get($font, style);
        src: local("#{map-get($font, filename)}-Regular"),
             local("#{map-get($font, filename)} Regular"),
             local("#{map-get($font, filename)}-Bold"),
             local("#{map-get($font, filename)} Bold"),
             url('../fonts/#{map-get($font, filename)}-Italic.woff') format(woff),
             url('../fonts/#{map-get($font, filename)}-Regular.woff2') format(woff2);
    }
    ;
}