$fonts: ( // you can insert all of your fonts here
// Key key name can be repeated but the value must change.
(family: "OpenSans", weight: 400, style: normal), (family: "OpenSans", weight: 400, style: italic), (family: "BebasNeue", weight: 400, style: normal), (family: "BebasNeue", weight: 700, style: italic));
// Looping through of an array objects
@each $font in ($fonts) {
    html {
        font-family: map-get($font, family);
        font-weight: map-get($font, weight);
        font-style: map-get($font, style)
    }
}

;