@import "variables";
.header-navigation {
    max-width: 455px;
}

.header-navigation,
.navigation-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.header {
    position: absolute;
    top: 50px;
    margin: 0;
    padding: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.masthead {
    width: 100vw;
    height: calc(100vw * 571 / 320);
    background-image: image('masthead-bg-resised.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

;
.menu {
    display: block;
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
}

.menu>span {
    visibility: hidden;
}

;
.submit {
    visibility: hidden;
}

;
[for="lang_dropdown"] {
    visibility: hidden;
    display: none;
}