@import "variables";
.header-navigation {
    max-width: 455px;
}

.game-logo {
  display: block;
  height: 32px;
  width: 32px;
}

.header-navigation,
.navigation-option {
  @include navigation-flex;
  max-width: 500px;
}

.navigation-option {
  width: 200px;
}

#menu {
  background-image: image("menu.svg");
}

.main-navigtion > ul {
  @include reset-ul
}

.main-navigation-list {
  list-style: $list-style;
}

.main-navigation-list > a {
  color: $primary-color;
  text-transform: $uppercase-text;
  text-decoration: $text-decoration;
}

.main-navigtion {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateX(-110%);
  transition: transform 0.3s;
}

body [type="checkbox"]:checked ~ .main-navigtion {
  transform: translateX(0);
}

body [type="checkbox"]:checked ~ .main-navigtion label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.25);
}

.header {
  position: absolute;
  z-index: 1;
}

.masthead {
  @include background;
  height: calc(100vw * 571 / 320);
  background-image: image('masthead-bg-resised.png');
  margin: 0;
  max-height: 960px;
};

.masthead-wrapper {
  position: relative;
  margin: auto;
  height: 100%;
}

.masthead-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
};

.mast_heading,
.mast_head_paragraph {
  text-transform: uppercase;
  font-weight: $bold-text;
  font-size: $font-size-33;
};

.mast_heading {
  padding-bottom: 14px;
}
.mast_head_paragraph {
  text-align: center;
  font-size: $font-size-18;
  line-height: $line-height-18;
  padding-bottom: 20px;
}

.btn.buy {
  @include button;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
};

[name="lang"] {
  border: none;
  color: $primary-color;
  background-color: rgba(0, 0 , 0, 0);
  text-transform: $uppercase-text;
  padding: 0;
}
 
 option {
   color: $secondary-color;
 }

[for="lang_dropdown"] {
  visibility: hidden;
}

.story {
  display: none;
  display: flex;
  justify-content: space-between;
}

.nexts {
  width: 132px;
  display: flex;
  justify-content: space-between;
}

.next:not(:nth-last-child(1)) {
  width: 10px;
  height: 10px;
  border-radius: 50% ;
  border: 1px solid $primary-color;
}

.next:nth-last-child(1) {
  @include background;
  background-image: image("switch.svg");
}

.next > span {
  visibility: hidden;
}

.next:active {
  background-color: $primary-color;
}

@media (min-width: 720px) {
  .masthead {
    @include background;
    background-size: 100% center;
    background-image: image("header-big-bg.png");
  }

  .main-navigtion {
    transform: none;
    width: 100%;
    height: auto;
    background: none;
    position: static;
    box-shadow: none;
    padding: 0;
  }

  .main-navigation-lists {
    max-width: 612px;
    @include navigation-flex;
  }

  [for="menu"] {
    display: none;
  }
}