@import "variables";

.image_container ul {
  text-align: start;
  position: relative;
  padding-top: calc(100% * 273/249);
  list-style: none;
}

.image_container ul li {
  position: absolute;
}

.image_container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.sos_image1 {
  z-index: 3;
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249);
}
.sos_image2 {
  z-index: 2;
  top: 58%;
  left: 0;
  right: calc(100% * 12 / 249);
  transform: translateY(-50%) scale(calc(234 / 273));
  transform-origin: 100% 0%;
}
.sos_image3 {
  top: 59%;
  left: 0;
  z-index: 1;
  right: 0;
  transform: translateY(-50%) scale(calc(229 / 273));
  transform-origin: 100% 0%;
}