@mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: $list-style;
};

@mixin font-family_babasNeue {
  font-family: $font-family-bebasNeue;
};

@mixin font-family_openSans {
  font-family: $font-family-openSans;
  font-weight: 400;
  font-style: normal;
};

@mixin subheading-spacing {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
}

@mixin heading-spacing {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
}

@mixin prossess-text {
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 21px;
}