@import "variables";

.submit {
    transform: translate(-7830%);
};

.main-navigtion {
  transform: translateY(-9999px);
}

[name="menu"] {
  background-image: image("menu-icon.svg");
  background-repeat: no-repeat;
}

[for="menu"] {
  transform: translateY(-9999px);
}

//Here is the navigation article

.navigation_lists {
  @include navigation-flex;
  @include reset-ul;
}

.navigation_list {
  
}