@import "mixin";
$list-style: none;
// From _variables.scss:
@function image($filename) {
    @return url("../img/#{$filename}");
};

$primary_color: #ffffff;
$secondary_color: #FFB548;
$font-family-openSans: "Open Sans";
$font-family-bebasNeue: "Bebas Neue";
$text-decoration: none;
$uppercase-text: uppercase;
$bold-text: 700;

//Line heights
$line-height-34: 34px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-21: 21px;
$line-height-33: 33px;

//Font size
$font-size-12: 12px;
$font-size-18: 18px;
$font-size-21: 21px;
$font-size-33: 33px;
$font-size-16: 16x;

//letter spacing
$letter-spacing-2: 2px;
$letter-spacing-3: 3px;

//opacity
$opacity-5: 0.5;

//media width
$media-min-width: 720px;