@import "mixin";
$list-style: none;
// From _variables.scss:
@function image($filename) {
    @return url("../img/#{$filename}");
};

$primary_color: #ffffff;
$secondary_color: #FFB548;
$font-family-openSans: "Open Sans";
$font-family-bebasNeue: "Bebas Neue";