@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: local("Open Sans-Regular"), local("Open Sans Regular"), local("Open Sans-Bold"), local("Open Sans Bold"), url("../fonts/Open Sans-Italic.woff") format(woff), url("../fonts/Open Sans-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: italic;
  src: local("BebasNeue-Regular"), local("BebasNeue Regular"), local("BebasNeue-Bold"), local("BebasNeue Bold"), url("../fonts/BebasNeue-Italic.woff") format(woff), url("../fonts/BebasNeue-Regular.woff2") format(woff2); }

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0; }

.container {
  margin: auto;
  max-width: 500px; }

p {
  text-align: justify; }

.header-navigation {
  max-width: 455px; }

.game-logo {
  display: block;
  height: 32px;
  width: 32px; }

.header-navigation,
.navigation-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px; }

.navigation-option {
  width: 200px;
  align-items: center; }

[type="checkbox"] {
  background-image: url("../img/menu-icon.svg"); }

.header {
  position: absolute; }

.masthead {
  width: 100vw;
  height: calc(100vw * 571 / 320);
  background-image: url("../img/masthead-bg-resised.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0; }

.masthead-wrapper {
  position: relative;
  margin: auto;
  height: calc(100vw * 571 / 320); }

.masthead-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; }

.mast_heading,
.mast_head_paragraph {
  text-transform: uppercase;
  font-weight: 700;
  width: 100vw;
  font-size: 33px; }

.mast_heading {
  padding-bottom: 14px; }

.mast_head_paragraph {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 20px; }

.btn.buy {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding-inline-start: 6px;
  padding-inline-end: 6px; }

@media (min-width: 720px) {
  .masthead {
    background-image: url("../img/bg-header-wide.jpg");
    background-position: center center; } }

.submit {
  transform: translate(-7830%); }

.main-navigtion {
  transform: translateY(-9999px); }

[name="menu"] {
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat; }

[for="menu"] {
  transform: translateY(-9999px); }

.navigation_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.article_sos {
  text-align: start; }

.sos_heading,
.sos_subheading {
  font-family: "Bebas Neue"; }

.sos_heading {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  padding-top: 47px; }

.sos_subheading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 8px;
  padding-bottom: 38px;
  border-bottom: solid 2px #ffffff; }

.sos_info {
  margin-top: 30px; }

.sos_info.decisions {
  margin-top: 20px;
  margin-bottom: 40px; }

img {
  width: 100%;
  height: 100%; }

.image_container ul {
  text-align: start;
  position: relative;
  padding-top: calc(100% * 273/249);
  list-style: none; }

.image_container ul li {
  position: absolute; }

.image_container img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.sos_image1 {
  z-index: 3;
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249); }

.sos_image2 {
  z-index: 2;
  top: 58%;
  left: 0;
  right: calc(100% * 12 / 249);
  transform: translateY(-50%) scale(calc(234 / 273));
  transform-origin: 100% 0%; }

.sos_image3 {
  top: 59%;
  left: 0;
  z-index: 1;
  right: 0;
  transform: translateY(-50%) scale(calc(229 / 273));
  transform-origin: 100% 0%; }

.article_special .container {
  background-image: url(../img/bg-special.png);
  background-repeat: no-repeat;
  background-position: 0 -16px;
  background-size: contain; }

.article_special {
  padding-top: 90px; }

.special_container {
  text-align: start;
  padding-bottom: 100px;
  padding-left: 100px; }

.special {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px; }

.features {
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 10px;
  padding-bottom: 30px; }

.process {
  font-family: "Bebas Neue";
  color: #FFB548;
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 21px; }

.process_info {
  padding-top: 20px;
  padding-bottom: 30px; }

.process:nth-last-child(1) {
  padding-top: 40px; }

.article_availability {
  text-align: start; }

.availability__subheading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase; }

.availability__subheadquestion,
.def_title {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase; }

.def_lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.def_title {
  color: #FFB548; }

.def_list {
  border: 0.504234px solid #979797;
  padding: 10px; }

.def_details {
  margin: 0;
  padding: 0; }

.article_quotes {
  text-align: start;
  padding-top: 36px;
  padding-bottom: 80px; }

blockquote span {
  visibility: hidden; }

blockquote {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20;
  margin-bottom: 20;
  margin-right: 0;
  margin-left: 0; }

.profile_info {
  padding-top: 13px;
  padding-bottom: 13px; }

.article_quotes-subheading {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase; }

.article_quotes-heading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase; }

.quotes_info {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-style: normal;
  font-style: 14px;
  line-height: 16px;
  padding-top: 30px;
  padding-bottom: 30px; }

.quotes_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.profile a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 5px 5px 0px #FFB548; }

.profile_info a {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 21px;
  color: #FFB548;
  text-decoration: none; }

.profile_info .name {
  display: block;
  visibility: visible; }

.icon-twitter {
  display: block;
  width: 18px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/twitter.svg); }

.read_more {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 22px;
  margin-left: calc(100% * 40 / 290);
  margin-inline-end: calc(100% * 35 / 290); }

.newsletter {
  padding-bottom: 61px; }

.newsletter-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/newsletter-sm-bg.png");
  background-size: contain;
  background-position: left;
  padding-right: 1rem;
  padding-left: calc(100vw * 115 / 320); }

.form-contanier .subscribe {
  font-weight: bold;
  line-height: 18px;
  background-color: #FFB548;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%; }

.form-contanier input[type="email"] {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  color: #979797; }

[for="email"] {
  max-width: max-content; }

.newsletter__heading,
.newsletter__subheading {
  text-align: start;
  font-family: "Bebas Neue"; }

.newsletter__heading {
  letter-spacing: 3px;
  font-size: 33px;
  line-height: 33px;
  padding-top: 26px; }

.newsletter__subheading {
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 18px; }

.newsletter__info {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal; }
